.categ-item {
  display: flex;
  border: 3px #000000 solid;
  border-radius: 2rem;
  width: fit-content;
  padding: 0.2rem;
}
.categ-item input {
  font-size: 2rem;
  width: 8rem;
}
.child .sub-categs-cont app-category-view:before {
  content: ' \2503';
  font-size: 2.2rem;
  line-height: 1.8rem;
}
.child .sub-categs-cont app-category-view:last-child .sub-categs {
  border: none;
}
.sub-categs {
  padding-left: 1rem;
  margin-left: 1rem;
}
.sub-categs .child {
  border-left: 3px solid #000;
}
.pi {
  font-size: 2rem;
  margin: 4px;
}
.p-text-truncate {
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
